<app-navbar></app-navbar>
<div class="container" style="margin-bottom: 500px">
  <div class="row music-box">
    <div class="col-md-12">
      <h1 align="center">Diagnóstico</h1>
    </div>
  </div>
  <div class="card border-success end" >
    <div class="card-header bg-success font-weight-bold">
      Información
    </div>
    <div class="card-body" >
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Parámetros
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Los parámetros ingresados para esta muestra son los siguientes:
              <div class="row">
                <div class="col-4">
                  <p class="font-weight-bold">URL:</p>
                </div>
                <div class="col-8">{{response?.parametro?.URL}}</div>
              </div>
              <div class="row">
                <div class="col-3">
                  <p class="font-weight-bold">Números de usuarios:</p>
                </div>
                <div class="col-3">{{response?.parametro?.numClientes}}</div>
                <div class="col-3">
                  <p class="font-weight-bold">Tamaño de paquetes:</p>
                </div>
                <div class="col-3">{{response?.parametro?.tamanioPaquete}} Bytes</div>
              </div>

              <div class="row">
                <div class="col-3">
                  <p class="font-weight-bold">Hora de inicio:</p>
                </div>
                <div class="col-3">{{response?.parametro?.horaInicio}}</div>
                <div class="col-3">
                  <p class="font-weight-bold">Duración de la muestra:</p>
                </div>
                <div class="col-3">{{response?.parametro?.tiempoSeg}} Segundos</div>
              </div>
              <div class="row">
                <div class="col-3">
                  <p class="font-weight-bold">Fecha Inicio</p>
                </div>
                <div class="col-3">{{response?.parametro?.fechaInicio}}</div>
                <div class="col-3">
                  <p class="font-weight-bold">Fecha Fin:</p>
                </div>
                <div class="col-3">{{response?.parametro?.fechaFin}}</div>
              </div>

            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Diagnóstico
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <h3 class="text-center">La muestra es
                <span *ngIf='response?.diagnostico?.falla' class="badge badge-danger">Fallida</span>
                <span *ngIf='!response?.diagnostico?.falla' class="badge badge-success">Aceptable</span>
              </h3>
              <div class="row">
                <div class="col-3">
                  <p class="font-weight-bold">Tipo de muestra</p>
                </div>
                <div class="col-8">
                  <p class="text" *ngIf='response?.diagnostico?.falla'>Inaceptable</p>
                  <p class="text" *ngIf='!response?.diagnostico?.falla'>Aceptable</p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <p class="font-weight-bold">Se debe a:</p>
                </div>
                <div class="col-8">
                  <p class="text">{{response?.recomendacion?.causa}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <p class="font-weight-bold">Mejora:</p>
                </div>
                <div class="col-8">
                  <p class="text">{{response?.recomendacion?.solucion}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-3"><p class="font-weight-bold">Latencia</p></div>
                <div class="col-8">
                  <p class="text">{{response?.diagnostico?.estadistica}} </p>
                </div>
              </div>
              <hr>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Nota:</strong> La siguiente es una tabla base de los rangos en milisegundos(ms)
                del tiempo promedio que deberia tener el envio de los paquetes, para tener una calidad de red en los servicios o protocolos que brinda.

              </div>

              <table class="table table-hover">
                <thead>
                <tr class="table-success">
                  <th scope="col">Servicio</th>
                  <th scope="col">Rango</th>
                  <th scope="col">Calidad de servicio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">Protocolo HTTP (Navegación)</th>
                  <td>De 60ms a 111ms</td>
                  <td class="text-center"><span class="badge badge-success">Aceptable</span></td>
                </tr>
                <tr>
                  <th scope="row">Protocolo SMTP (Correo)</th>
                  <td>De 60ms a 80ms</td>
                  <td class="text-center"><span class="badge badge-success">Aceptable</span></td>
                </tr>
                <tr>
                  <th scope="row">Protocolo RSTP (Video - Llamadas)</th>
                  <td>De 1ms a 35ms</td>
                  <td class="text-center"><span class="badge badge-success">Aceptable</span></td>
                </tr>
                <tr>
                  <th scope="row">Redes sociales</th>
                  <td>De 40ms a 80ms</td>
                  <td class="text-center"><span class="badge badge-success">Aceptable</span></td>
                </tr>
                <tr>
                  <th scope="row">Peliculas</th>
                  <td>De 10ms a 50ms</td>
                  <td class="text-center"><span class="badge badge-success">Aceptable</span></td>
                </tr>
                <tr>
                  <th scope="row">Juegos</th>
                  <td>De 1ms a 20ms</td>
                  <td class="text-center"><span class="badge badge-success">Aceptable</span></td>
                </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div>

        <hr>
        <hr>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Su QoE: </strong> Su red con {{response?.parametro?.numClientes }} usuarios soporta la siguiente calidad en los servicios

        </div>
        <table class="table table-hover" style="margin-bottom: 100px">
          <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Juegos</th>
            <th scope="col">Protocolo RTSP</th>
            <th scope="col">Peliculas</th>
            <th scope="col">Redes sociales</th>
            <th scope="col">Protocolo SMTP</th>
            <th scope="col">Protocolo HTTP</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">{{response?.parametro?.numClientes}} Usuarios</th>
            <td class="text-center">
              <span *ngIf='permiteJuegos()' class="badge badge-success">Aceptable</span>
              <span *ngIf='!permiteJuegos()' class="badge badge-danger">Inaceptable</span>
            </td>
            <td class="text-center">
              <span *ngIf='permiteRTSP()' class="badge badge-success">Aceptable</span>
              <span *ngIf='!permiteRTSP()' class="badge badge-danger">Inaceptable</span>
            </td>
            <td class="text-center">
              <span *ngIf='permitePeliculas()' class="badge badge-success">Aceptable</span>
              <span *ngIf='!permitePeliculas()' class="badge badge-danger">Inaceptable</span>
            </td>
            <td class="text-center">
              <span *ngIf='permiteRedesSociales()' class="badge badge-success">Aceptable</span>
              <span *ngIf='!permiteRedesSociales()' class="badge badge-danger">Inaceptable</span>
            </td>
            <td class="text-center">
              <span *ngIf='permiteSmtp()' class="badge badge-success">Aceptable</span>
              <span *ngIf='!permiteSmtp()' class="badge badge-danger">Inaceptable</span>
            </td>
            <td class="text-center">
              <span *ngIf='permiteHttp()' class="badge badge-success">Aceptable</span>
              <span *ngIf='!permiteHttp()' class="badge badge-danger">Inaceptable</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
