<div class="row music-box">
  <div class="col-md-12">
    <h1 align="center">Diagnóstico</h1>
  </div>
</div>
<div class="card border-success end">
  <div class="card-header bg-success font-weight-bold">
    Información
  </div>
  <div class="card-body">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Parámetros
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Los parámetros ingresados para esta muestra son los siguientes:
            <div class="row">
              <div class="col-4">
                <p class="font-weight-bold">URL:</p>
              </div>
              <div class="col-8">http://localhost:4200/#parametrizacion</div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="font-weight-bold">Números de usuarios:</p>
              </div>
              <div class="col-3">4</div>
              <div class="col-3">
                <p class="font-weight-bold">Tamaño de paquetes:</p>
              </div>
              <div class="col-3">64 Bytes</div>
            </div>

            <div class="row">
              <div class="col-3">
                <p class="font-weight-bold">Hora de inicio:</p>
              </div>
              <div class="col-3">1 hora</div>
              <div class="col-3">
                <p class="font-weight-bold">Duración de la muestra:</p>
              </div>
              <div class="col-3">1 hora</div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="font-weight-bold">Fecha Inicio</p>
              </div>
              <div class="col-3">10/12/2020</div>
              <div class="col-3">
                <p class="font-weight-bold">Fecha Fin:</p>
              </div>
              <div class="col-3">10/12/2020</div>
            </div>

          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Diagnóstico
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <p>Las recomendaciones para esta muestra son las siguientes: </p>

              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="font-weight-bold">Estado</p>
              </div>
              <div class="col-8">
                <p class="text">La toma de la muestra salio exitosa
                  <br>No tiene ninguna afectacion grave en su red</p>
              </div>
            </div>
            <hr>
            <h3 class="text-center">La muestra es <span class="badge badge-success">correcta</span></h3>
            <div class="row">
              <div class="col-3"><p class="font-weight-bold">Estadística</p></div>
              <div class="col-8">
                <p class="text">7 packets transmitted, 7 packets received, 0.0% packet loss <br>
                  ida y vuelta en min/promedio/max/desviación = 31.629/44.949/75.017/13.020 ms</p>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p class="font-weight-bold">Consideraciones</p>
              </div>
              <div class="col-8">
                <p class="text">Mantener la conexion a la red de forma correcta</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    <table class="table table-hover">
      <thead class="thead-light">
      <tr>
        <th scope="col">Paquete</th>
        <th scope="col">TTL</th>
        <th scope="col">Tiempo respuesta</th>
        <th scope="col">Cliente</th>
        <th scope="col">Error</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>115</td>
        <td>116.2</td>
        <td>2</td>
        <td><span class="badge badge-success">check</span></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>115</td>
        <td>116.2</td>
        <td>2</td>
        <td><span class="badge badge-success">check</span></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>115</td>
        <td>116.2</td>
        <td>2</td>
        <td><span class="badge badge-danger">Error</span></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
