<section class="dashboard_section">
  <div class="container-fluid">

    <div class="row dashboard">

      <div class="text-bg banner-main">
        <h1>Sistema de monitoreo de red <br>basado en la latencia</h1>
        <p class="text-right" ><br>Sistema creado con herramientas OpenSource que por medio de una parametrización,
           <br>realiza envío de paquetes de forma asíncrona, una vez se termina el envío de <br>paquetes se realiza
          el cálculo de la latencia.</p>

      </div>

    </div>

  </div>
</section>

<section class="container">
  <app-parametrizacion></app-parametrizacion>
</section>

<section class="container">
  <app-grafica></app-grafica>
</section>

<section class="container">
  <app-diagnostico></app-diagnostico>
</section>
