<!--<h1 mat-dialog-title>Alerta</h1>-->
<!--<div mat-dialog-content>-->
<!--    <p>{{data1}}</p>-->

<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--    <button mat-button (click)="onNoClick()">Aceptar</button>-->
<!--</div>-->

<h2 mat-dialog-title>Alerta</h2>

<mat-dialog-content>
    <p>{{data1}}</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="onNoClick()">Aceptar</button>
</mat-dialog-actions>
<!--<div class="modal" tabindex="-1" role="dialog">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Advertencia</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <p>{{data1}}</p>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-primary" (click)="onNoClick()">Aceptar</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->